.signup-container {
    background-image: url('./social-network7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1.0;
}

.signin-container {
    background-image: url('./social-network6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
} 