nav {
    height: 15%;
}

.navbar {
    font-size: large;
}

.logo{
    height: 50px;
    position: relative;
    left: -10px;
}

.logo-box {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px black;
    overflow: hidden;
}